/* ********************************************************* */
.tabBar {
  width: 100%;
  margin-top: 0.3em;
  display: flex;
  justify-content: space-around;
}
.tabBar {
  color: #222;
}
.tabBar > div {
  width: 50%;
  min-width: fit-content;
}
.tabBar > div:first-child {
  vertical-align: middle;
  margin-top: 0.5em;
}
.tabBar > div:nth-child(2) {
  max-width: max-content;
}
.tabBar > div:nth-child(2) > ul {
  display: flex;
  justify-content: space-around;
}
.tabBar .button,
.tabBar .button * {
  color: #fff;
}
.tabBar ul > li > .button {
  width: 100%;
}

.tabBar.buttonRow {
  margin-left: 0px;
  margin-bottom: 1em;
}
.tabBar.buttonRow ul > li {
  display: inline-block;
  margin-left: 0.3em;
  list-style-type: none;
  width: 7em;
}
.tabBar.buttonRow ul > li:last-child {
  text-align: right;
}
.tabBar.buttonRow ul > li a {
  vertical-align: middle;
  margin-bottom: 0px;
}
.tabBar.buttonRow li .menuTrigger {
  font-size: 170%;
  font-weight: 400;
  display: inline-block;
  width: 2em;
  display: inline-block;
  margin-right: 1em;
  line-height: 0.85;
  position: relative;
  top: -9px;
  height: 1.5em;
  margin: 0.3em;
  margin-bottom: 0px;
}
.tabBar.buttonRow li .menuTrigger[aria-pressed="true"] {
  font-size: 200%;
  font-weight: 600;
  margin: 0.3em;
  margin-right: 0.6em;
  width: 1.5em;
  line-height: 0.66;
}


@media screen and (max-width: 400px) {
  .tabBar {
    display: block;
  }
  .tabBar p {
    text-align: center;
  }
  .tabBar div:nth-child(1) {
    display: block;
    width: 100%;
  }
  .tabBar ul {
    margin-bottom: 0.2em;
  }
  .tabBar div:nth-child(2) {
    display: block;
    width: 100%;
  }
  .tabBar ul li {
    width: 30%;
    display: inline-block;
  }
  .buttonRow li {
    margin-left: 0.8em;
  }
   .tabBar.buttonRow ul>li { width: 5.5em; }
}
.tabBar.buttonRow menu.menuTrigger {
  display: none;
  background-color: #eee;
  border: 1em #eee solid;
  text-align: left;
  padding-left: 0px;
}
.tabBar.buttonRow menu.menuTrigger small {
  font-size: 60%;
}
.tabBar.buttonRow menu.menuTrigger[aria-hidden="false"] {
  z-index: 1;
  position: fixed;
  right: 50px;
  width: 10em;
  top: 2em;
  display: block;
}

@media screen and (max-width: 400px) {
  .tabBar.buttonRow menu.menuTrigger[aria-hidden=false] {
    top:3em;
    right: 0em;
    width: 16em;
    height: fit-content;
  }
}
.tabBar.buttonRow ul > li span.menuTrigger {
  color: transparent;
  text-shadow: 0 0 0 #222;
  padding: 0.5em 1em 0.5em 1em;
}
.tabBar.buttonRow ul > li span.menuTrigger::before {
  content: "☰";
}
.tabBar.buttonRow ul li span.menuTrigger[aria-pressed="true"]::before {
  content: "❌";
}

.tabBar.buttonRow > li span.menuTrigger:hover {
  background-color: #eee;
}
.tabBar.buttonRow menu.menuTrigger li {
  display: inline-block;
  width: 100%;
}
.tabBar.buttonRow menu.menuTrigger .button {
  display: inline-block;
  width: 100%;
}

/* ********************************************************* */
.ListOfList ul {
  list-style-type: none;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
}
@media screen and (max-width: 400px) {
  .ListOfList.view { margin-top:2em; }
}

.ListOfList ul .button {
  margin-bottom: 0.4em;
  margin-top: 0.4em;
}
.ListOfList .centre {
  margin-top: -0.5em;
  white-space: nowrap;
  display: inline-block;
  vertical-align: middle;
  overflow-x: hidden;
}

.ListOfList .row {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  white-space: nowrap;
  margin-bottom: 0.6em;
  width: calc(100% - 0.5em);
}

.ListOfList .row span:last-child {
  justify-content: flex-end;
  padding-left: 1em;
}
.ListOfList .row span:first-child {
  justify-content: flex-start;
  padding-right: 1em;
}

.ListOfList a {
  min-width: 10em;
  max-width: 26em;
}

.ListOfList .centre:focus-within {
  background: #ddd;
}
.ListOfList img {
  height: 30px;
  width: 30px;
  overflow-x: clip;
  overflow-y: clip;
  margin-right: 0.3em;
}

/* ********************************************************* */
.unknownRoute {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  justify-content: space-evenly;
  align-items: center;
  height: calc(100vh - 4.5em);
}
.unknownRoute .error {
  font-size: 300%;
  background-color: #fdd;
  width: 2em;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  align-content: center;
  color: transparent;
  text-shadow: 0 0 0 #222;
  height: 3em;
  line-height: 0.6;
}
.unknownRoute p.bigger {
  font-size: 120%;
  margin: 1em;
}

/* ********************************************************* */

.enterInput {
  width: 20em;
  z-index: 2;
  top: calc(50vh - 3em);
  background-color: white;
  border: 1em #eee solid;
}
dialog.enterInput::backdrop {
  background-color: rgba(39, 39, 39, 0.3);
  pointer-events: none;
}

.enterInput p {
  white-space: nowrap;
  text-align: left;
}
.enterInput p input[placeholder] {
  margin-right: 1.3em;
}
.enterInput p input[role="button"] {
  font-size: 110%;
  padding: 0.2em;
}
.enterInput .labelRow {
  display: flex;
  justify-content: space-around;
}
.enterInput .labelRow span.cancel {
  padding: 0.5em;
  position: relative;
  right: -40px;
  top: -24px;
}
.enterInput .labelRow span.cancel:hover {
  background-color: #eee;
}

/* ********************************************************* */

.interstitial {
  position: fixed;
  z-index: 2;
  top: 1em;
  left: 1em;
  right: 2em;
  bottom: 2em;
  background-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 100) 0%,
    rgba(1, 1, 1, 0) 100%
  );
}
.interstitial ul li {
  margin-left: 0.3em;
  list-style-type: none;
  line-height: 2;
}
.interstitial ul li.closeUp {
  margin-left: 70%;
  margin-right: 1em;
  opacity: 1;
  width: 4em;
  background-color: white;
  margin-top: 0.5em;
  filter: opacity(100%);
}
.interstitial ul li.closeUp .button {
  padding: 1em;
  color: #020202;
  width: 4em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  filter: opacity(100%);
  opacity: 1;
}

@media screen and (min-width: 400px) {
  .interstitial {
    left: calc(50% - 200px);
    right: calc(50% - 200px);
    width: 400px;
  }
}

/* ********************************************************* */
/* this is for SERPS  */

.serps .buttonRow {
  display: block;
  margin-left: 0rem;
  list-style-type: none;
}
.serps .buttonRow li {
  display: inline;
  white-space: nowrap;
  margin: 0.5em;
}
.serps .buttonRow li h3 {
  display: inline-block;
}
.serps .buttonRow li:first-child {
  margin-bottom: 1em;
}
.serps ul.aList {
  max-width: max-content;
}

/* ********************************************************* */
/* this is for ThisList */

.aList {
  min-width: 12em;
  list-style-type: none;
}
ul.aList {
  max-width: 12em;
  margin-left: auto;
  margin-right: auto;
}
ul.aList li span {
  min-width: 12em;
  background-color: #e7e7e7;
  color: #333333;
}
div.aList {
  height: calc(100% - 3.75em);
  overflow-y: scroll;
}
.aList .buttonRow {
  margin-left: 0px;
  margin-bottom: 1em;
}
.aList .buttonRow li {
  display: inline-block;
  margin-left: 0.3em;
  list-style-type: none;
  width: 7em;
  color: #fff;
}
.aList .buttonRow li.bigger {
  font-size: 120%;
  line-height: 0.9;
  font-weight: 600;
  color: #020202;
}

div.aList ul.buttonRow li span {
  min-width: 7em;
}

@media screen and (max-width: 400px) {
  ul.aList span.button {
    margin-left: calc(50% - 6em);
  }
}

@media screen and (min-width: 400px) {
  .aList ul.buttonRow {
    margin-left: auto;
    margin-right: auto;
  }
}

/* ********************************************************* */
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  min-width: 100vw;
  height: 95vh;
}

.wholePage {
  height: 100%;
  font-family: system-ui;
}

/* A useful class that will slap a big warning on span containing images (various formats) 
   Adjust selector to suit needs.  The warning is about 150px on most peoples machines  */
.deadImages span:has(svg, picture, img)::before {
  z-index: 2;
  line-height: 0.7;
  position: absolute;
  border: red 2px solid;
  color: red;
  content: " 🗙 ";
  /* font-size: 8em; */
  font-size: 1.5em;
  padding: 0.1em;
  border-radius: 40%;
  margin-top: 0.5em;
  margin-left: 0.15em;
  padding-bottom: 0.25em;
  pointer-events: none;
}

/* https://developer.mozilla.org/en-US/docs/Web/Progressive_web_apps/How_to/Create_a_standalone_app */
