.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local

# You see no certs in the repo, you must add them after checkout.
*.pem
*.key

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

package-lock.json


*storybook.log
storybook-static
