.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local
*.DISABLED

# You see no certs in the repo, you must add them after checkout.
*.pem
*.key
*.crt
*.cer
*.der
*.p7b

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

package-lock.json
src/stories/

*storybook.log
storybook-static
